@font-face {
    font-family: 'SOGANGUNIVERSITYTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10pt;
    color: #333;
    font-family: 'SOGANGUNIVERSITYTTF';
}

ul, ol, li {
    list-style: none;
}

header {
    position: relative;
    clear: both;
    width: 1400px;
    margin: 0 auto;
}

.header_box_01 {
    position: relative;
    float: left;
    width: 400px;
}
#header_box_01_up {
    position: relative;
    clear: both;
    width: 400px;
    height: 50px;
    line-height: 50px;
}
#sec_global {
    position: relative;
    float: left;
    width: 200px;
    height: 50px;
}
select {
    position: relative;
    float:left;
    width: 100px;
    height: 30px;
}
option {
    width: 50px;
    height: 30px;
}
#ins_all {
    position: relative;
    float: left;
    width: 200px;
    height: 50px;
}
#ins_icon {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
}
#header_box_01_down {
    position: relative;
    clear: both;
    width: 400px;
    height: 50px;
}
.header_box_all > .header_box_02 {
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100px;
}
.header_box_all > .header_box_03 {
    position: relative;
    float: left;
    width: 400px;
    height: 100px;
}
#header_box_03_up {
    position: relative;
    clear: both;
    width: 400px;
    height: 50px;
}
#txt_join, #txt_id, #txt_basket, #txt_mypage {
    position: relative;
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1rem;
}
#header_box_03_down {
    position: relative;
    clear: both;
    width: 400px;
    height: 50px;
}
.gap_1400_10 {
    position: relative;
    clear:both;
    width: 100%;
    height: 10px;
    
}
.main_menu_all {
    position: relative;
    clear: both;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.main_menu_all a{
    text-decoration: none;
    font-size: 11pt;
    
    color: black;
}
.menu_each {
    width: 140px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#menu_01_over:hover {
    content: url();
}
.gap_1200_10 {
    position: relative;
    clear: both;
}
.main_img_all {
    position: relative;
    clear: both;
    width: 1400px;
    
    margin: 0 auto;
}
.main_img_big {
    display: block;
    
    left:0;
    top: 0;
    width: 1400px;
}
.main_img_small {
    display: none;
}
.gap_1400_80 {
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    height: 80px;
    margin: 0 auto;
}
.gap_m_340_10 {
    display: none;
}
/*--------------------------*/
section.sec_01_all {
    position: relative;
    clear: both;
    width: 1400px;
    height: 380px;
    overflow: hidden;
    margin: 0 auto;
}
.sec_01_all > .sec_01_box_all {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 1400px;
    height: 380px;
}

#sec_01_box_img {
    width: 340px;
}
#sec_01_font_01 {
    width: 340px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
#sec_01_font_02 {
    width: 340px;
    height: 50px;
    line-height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
/*WEEKLY BEST 제목 시작*/
.title_weekly {
    position: relative;
    clear: both;
    width: 100%;
    height: 50px;
    color: #333;
    font-size: 2rem;
    text-align: center;
    line-height: 50px;
    margin: 50px auto 30px;
}
/*상품시작---------------------*/
section.product_row_all {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}

.product_row_all > .product_col_each {
    position: relative;
    float: left;
    width: 340px;
    height: 450px;
    margin-bottom: 50px;
}
.product_col_each > #p_box_img {
    position: relative;
    clear: both;
    width: 340px;
    height: 369.3px;
}
.product_col_each > #p_box_font_all {
    position: relative;
    clear: both;
    width: 340px;
    height: 110px;
}
#p_box_font_all > #p_box_color {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
}
#p_box_font_all > #p_box_font_01 {
    position: relative;
    clear: both;
    width: 340px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: bold;
}
#p_box_font_all > #p_box_font_02 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 0.7rem;
    color: #f00;
}
#p_box_font_all > #p_box_font_03 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}
#p_box_font_all > #p_box_font_04 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

section.product_row_all {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}
.product_row_all > .product_col_each {
    position: relative;
    float: left;
    width: 340px;
    height: 450px;
}
.product_col_each > #p_box_img {
    position: relative;
    clear: both;
    width: 340px;
    height: 369.3px;
}
#p_box_font_all > #p_box_color {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
}
#p_box_font_all > #p_box_font_01 {
    position: relative;
    width: 340px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: bold;
}
#p_box_font_all > #p_box_font_02 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 0.7rem;
    color: #f00;
}
#p_box_font_all > #p_box_font_03 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}
#p_box_font_all > #p_box_font_04 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}
.footer_all {
    position: relative;
    clear: both;
    width: 100%;
    height: 310px;
    padding-top: 30px;
}
.footer_box_all {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}
.footer_box_each > .footer_box_01_01 {
    position: relative;
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 1.2rem;
    color: #333;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    text-align: center;
}
.footer_box_each > .footer_box_01_02 {
    position: relative;
    clear: both;
    width: 100%;
    height: 10px;
    line-height: 10px;
}
.footer_box_01_02 > hr {
    width: 100px;
}
.footer_box_each > .footer_box_01_03 {
    position: relative;
    clear: both;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    color: #333;
}
.footer_box_each > .footer_box_01_04 {
    position: relative;
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 1.1rem;
    color: #333;
}
.footer_box_each > .footer_box_01_05 {
    position: relative;
    float:left;
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-top: 20px;
}
.footer_right {
    display: flex;
    gap: 50px;
}
.footer_right div {
    font-size: 10pt!important;
}
.bbs_01 {
    width:1300px;
    margin: 0 auto;
}
@media all and (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-size: 10pt;
        color: #333;
    }
    header {
        position: relative;
        clear: both;
        width: 340px;
        height: 130px;
        margin: 0 auto;
    
    }
    .header_box_all {
        position: relative;
        clear: both;
        width: 340px;
        height: 130px;
        
    }
    .header_box_all > .header_box_01 {
        position: relative;
        clear: both;
        width: 340px;
        height: 50px;
        line-height: 50px;
        top: 10px;
    }
    #header_box_01_up {
        position: relative;
        clear: both;
        width: 340px;
        height: 30px;
    }
    #sec_global {
        position: relative;
        float: left;
        width: 170px;
        height: 30px;
        line-height: 30px;
    }
    select {
        position: relative;
        float:left;
        width: 100px;
        height: 30px;
    }
    option {
        width: 50px;
        height: 30px;
       
    }
    #ins_all {
        position: relative;
        float: left;
        width: 170px;
        height: 30px;
    }
    #ins_icon {
        position: relative;
        float: right;
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    #header_box_01_down {
        display: none;
    }
    .header_box_all > .header_box_02 {
        position: relative;
        clear: both;
        width: 340px;
        height: 50px;
    }
    .header_box_all > .header_box_03 {
        position: relative;
        clear: both;
        width: 340px;
        height: 30px;
        background: rgb(238, 238, 238);
    }
    #header_box_03_up {
        position: relative;
        clear: both;
        width: 340px;
        height: 30px;
    }
    #txt_join, #txt_id, #txt_basket, #txt_mypage {
        position: relative;
        float: left;
        width: 85px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 0.8rem;
    }
    #header_box_03_down {
        display: none;
    }
    .gap_1400_10 {
        display: none;
    }
    .main_menu_all {
        display: flex;
        flex-flow: row wrap;
        width: 340px;
        height: 90px;
        margin: 0 auto;
    }
    .main_menu_all .menu_each {
        width: 110px;
    }
    #menu_01_over:hover {
        content: url(images/img/main_menu_02.jpg);
    }
    .gap_1400_10 {
        display: none;
    }

   /*메인 이미지 시작*/
   .main_img_all {
    position: relative;
    clear: both;
    width: 340px;
    
    overflow: hidden;
    margin: 0 auto;
   }
   .main_img_big {
    display: none;
   }
   .main_img_small {
    display: block;
    left: 0;
    top: 0;
    width: 340px;
    margin: 10px 0;
    z-index: 2;

    -webkit-animation-duration: 2s;
    -webkit-animation-name: m_01;
    -webkit-animation-iteration-count: 1;
   }
   @-webkit-keyframes m_01 {
    0% {left: 50px; top: 50px; opacity: 50%;}
    100% {left: 0px; top: 0px; opacity: 100%;}
   }
   .gap_1400_80 {
    display: none;
   }
   .gap_m_340_10 {
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    height: 10px;
    background: #ddd;
   }
   section.sec_01_all {
    position: relative;
    clear: both;
    width: 340px;
    height: 1360px;
    overflow: hidden;
    margin: 0 auto;
   }
   .sec_01_all > .sec_01_box_all {
    display: flex;
    flex-flow: column nowrap;
    width: 340px;
    height: 1360px;
   }
   .sec_01_box_all > #sec_01_box_each {
    display: flex;
    flex-flow: row wrap;
    width: 340px;
    height: 340px;
   }
   #sec_01_box_each > #sec_01_box_img {
    width: 340px;
    height: 0px;
   }
   #sec_01_box_each > #sec_01_font_01 {
    width: 340px;
    height: 30px;
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: bold;
   }
   #sec_01_box_each > #sec_01_font_01 {
    width: 340px;
    height: 30px;
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: bold;
   }
   #sec_01_box_each > #sec_01_font_02 {
    width: 340px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
   }
   .title_weekly {
    position: relative;
    clear: both;
    width: 340px;
    height: 50px;
    color: #333;
    font-size: 1.5rem;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
section.product_row_all {
    display: flex;
    flex-flow: column nowrap;
    width: 340px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #333;
}
.product_row_all > .product_col_each {
    position: relative;
    clear: both;
    width: 340px;
    height: 450px;
    margin-bottom: 50px;
}
.product_col_each > #p_box_font_all {
    position: relative;
    clear: both;
    width: 340px;
    height: 110px;
}
#p_box_font_all > #p_box_color {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
}
#p_box_font_all > #p_box_font_01 {
    position: relative;
    clear: both;
    width: 340px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: bold;
}
#p_box_font_all > #p_box_font_02 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 0.7rem;
    color: #f00;
}
#p_box_font_all > #p_box_font_03 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}
#p_box_font_all > #p_box_font_04 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}


section.product_row_all {
    display: flex;
    flex-flow: column nowrap;
    width: 340px;
    margin: 0 auto;
    border: 1px solid #333;
}
.product_row_all > .product_col_each {
    position: relative;
    clear: both;
    width: 340px;
    height: 450px;
}
.product_col_each > #p_box_img {
    position: relative;
    clear: both;
    width: 340px;
    height: 369.3px;
}
.product_col_each > #p_box_font_all {
    position: relative;
    clear: both;
    width: 340px;
    height: 110px;
}
#p_box_font_all > #p_box_color {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
}
#p_box_font_all > #p_box_font_01 {
    position: relative;
    width: 340px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: bold;
}
#p_box_font_all > #p_box_font_02 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 0.7rem;
    color: #f00;
}
#p_box_font_all > #p_box_font_03 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}
#p_box_font_all > #p_box_font_04 {
    position: relative;
    clear: both;
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}
.footer_all {
    position: relative;
    clear: both;
    width: 100%;
    height: 1240px;
    
}
.footer_box_all {
    display: flex;
    flex-flow: column nowrap;
    width: 340px;
    height: 1240px;
    margin: 0 auto;
    
}
.footer_box_each {
    position: relative;
    clear: both;
    width: 340px;
    height: 310px;
    
}
}