@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, html {
    padding: 0;
    margin: 0;
    font-family: 'GmarketSansMedium';
}
* {
    box-sizing: border-box;
}
.alert {
    width: 100%;
    height: 40px;
    background-color: #60469f;
}
.mebership_menu {
    font-size: 8pt;
    display: flex;
    justify-content: end;
    padding: 0 50px;
    height: 38px;
}
.mebership_menu li {
    list-style: none;
    display: inline-block;
    padding: 0 7px;
    cursor: pointer;
}
.mebership_menu li:hover {
    color: rgba(0,0,0,0.1);
}
.mebership_menu li:not(:last-child) {
    border-right: 1px solid #787878;
}
.store_name {
    display: grid;
    grid-template-areas: 'hot_keyword logo search';
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 130px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d3d3d3;
}
.hot_keyword {
    grid-area: hot_keyword;
}
.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img {
    width: 189px;
    height: 100px;
    cursor: pointer;
}
.search {
    grid-area: search;
}
.category {
    padding: 15px 4px 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    gap: 30px;
    font-weight: 700;
    color: rgb(83, 83, 83);
}

.goods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category > div {
    cursor: pointer;
}
.category > div:hover {
    cursor: pointer;
    color: rgb(197, 176, 176);
}

.main_image_scroll > img {
    width: 100%;
    cursor: pointer;
}
.sub_image_1_scroll {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5%;
    padding: 100px 0;
    
}
.sub_image_1_scroll img {
    width: 100%;
    cursor: pointer;
}
.sub_image_2_scroll {
    width: 100%;
    height: 550px;
}
.today_text {
   text-align: center;
   padding: 10px;
   font-size: 13pt;
   font-weight: 700;
   color: rgb(83, 83, 83);
}
.today_order {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 290px;
    cursor: pointer;
}
.today {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 50px;
    
}
.today_1 span {
    display: inline-block;
    border: 1px solid #e0e0e0;
    width: 20px;
    height: 8px;
}
.sub_image_2_scroll img {
    width: 290px;
    height: 340px;
}
.today_2 {
    padding: 10px 0;
    font-size: 10pt;
}
.today_3 {
    padding: 10px 0;
    font-size: 10pt;
}
.md_pick {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #e9dbeb;
    padding: 50px 0;
    margin-bottom: 70px;
}

.pick_1 {
    font-size: 20pt;
    font-weight: 700;
    font-family: 'HSBombaram 2.1';
}
.pick_2 {
    font-size: 12pt;
    font-weight: 600;
    margin: 10pt 0;
    color: rgb(83, 83, 83);
}
.pick_3_menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0 30px 0;
}
.pick_3_menu > div {
    height: 40px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 700;
    color: #636363;
    cursor: pointer;
}
.pick_3_img {
    display: grid;
    grid-template-columns: 414px 414px 414px;
    grid-template-rows: 600px 600px;
    font-size: 9pt;
    position: relative;
    gap: 15px;
    justify-content: center;
}
.pick_3_img > div {
    position: relative;
}

.pick_3_blackbox {
    background-color: rgba(0,0,0, 0.3);
    z-index: 2;
    position: absolute;
    display: none;
    bottom: 0;
    height: 70px;
    width: 100%;
    z-index: 2;
    text-align: left;
    padding: 8px;
    color: white;
}

.pick_3_img_img:hover .pick_3_blackbox {
    display: block;
}

.pick_3_img_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-size: cover;
    cursor: pointer;
}

.pick_3_img_good {
    font-weight: bold;
}


.pick_3_img_price {
    font-weight: 400;
}


.best_items {
    width: 100%;
}
.best_1 {
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
    padding: 30px 0;
    font-family: 'HSBombaram 2.1';
}
.best_2 {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 600px 600px;
    gap: 20px;
    justify-content: center;
}
.best_2 > div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 2px;
}
.best_2  span {
    display: inline-block;
    border: 1px solid #e0e0e0;
    width: 20px;
    height: 8px;
}
.best_2 img {
    height: 460px;
    width: 100%;
    text-align: center;
    object-fit: cover;
}
.best_2_good {
    font-size: 10pt;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.best_2_price {
    font-size: 11pt;
    font-weight: 700;
    color: rgb(70, 0, 128);
}
.best_2_price del {
    font-size: 9pt;
    color: black;
}
.best_2_delivery {
    font-size: 11pt;
    font-weight: 700;
}
.best_2_description {
    font-size: 9pt;
    color: rgb(87, 87, 87);
}
.new {
    width: 100%;
    margin: 70px;
}
.new_1 {
    font-size: 15pt;
    font-weight: 700;
    text-align: center;
    font-family: 'HSBombaram 2.1';
}

.new_2 {
    padding: 10px 0 20px 0;
    text-align: center;
    font-size: 10pt;
    color: rgb(83, 83, 83);
}
.new_3 {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 600px 600px;
    gap: 20px;
    justify-content: center;
}
.new_3 > div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.new_3 span {
    display: inline-block;
    border: 1px solid #e0e0e0;
    width: 20px;
    height: 8px;
} 
.new_3 img {
    width: 100%;
    height: 460px;
    object-fit: cover;
}
.new_3_good {
    font-size: 10pt;
    font-weight: 700;
}
.new_3_price {
    font-size: 11pt;
    font-weight: 700;
    color: rgb(70, 0, 128);
}
.new_3_price del {
    font-size: 9pt;
    color: black;
}
.new_3_free {
    font-size: 9.5pt;
    color: rgb(70, 0, 128);
    font-weight: 700;
}
.new_3_description {
    font-size: 9pt;
    color: rgb(87, 87, 87);
}
footer {
    width: 100%;
    background-color: #e9dbeb;
    display: flex;
    justify-content: space-between;
    font-size: 8pt;
    color: rgb(87, 87, 87);
}
.footer_left {
    display: flex;
    gap: 60px;
    padding: 50px 0 0 100px;
}
.footer_left > div > div {
    padding: 8px;
}
.footer_left_title {
    font-weight: 700;
    font-size: 10pt;
    padding: 30px 0;
}
.bank img {
    width: 60px;
    height: 88px;
    margin: 25px 0 0 0;
}
.footer_right {
    text-align: end;
    line-height: 17pt;
    padding: 50px 150px 50px 0;
}
.company_info  li {
    list-style: none;
    display: inline-block;
    padding: 0 7px;
}
.company_info  li:not(:last-child) {
    border-right: 1px solid rgb(107, 107, 107);
    line-height: 10pt;
}
.company_tel {
    display: flex;
    justify-content: space-between;
}
.company_registration {
    display: flex;
    justify-content:  space-between;
}
.hosting {
    padding: 10px 0;
    font-size: 9pt;
    font-weight: 700;
}
.exchange {
    background-color: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    margin: 20px 0 50px 0;
    float: right;
    font-size: 9pt;
    font-weight: 700;
    
}
@media all and (max-width: 1200px) {
    .category {
        display: none;
    }
}