::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-button {
    display:none;
}

::-webkit-scrollbar-track {
    background:  #d5c3ff;
}

::-webkit-scrollbar-thumb {
    height: 100px;
    background:  #60469f;
    border: 3px solid  #d5c3ff;
    -webkit-border-radius: 0px;
    border-radius: 9px;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, html {
    padding: 0;
    margin: 0;
    font-family: 'GmarketSansMedium';
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

.alert {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #60469f;
    overflow: hidden;
}
.move {
    position: absolute;
    left: -200px;
    line-height: 40px;
    animation-name: flow;
    animation-duration: 42s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: white;
    animation-direction: reverse;
}
.move:nth-child(1) {
  animation-delay: 0;
}
.move:nth-child(2) {
  animation-delay: 7s;
}
.move:nth-child(3) {
  animation-delay: 14s;
}
.move:nth-child(4) {
    animation-delay: 21s;
}
.move:nth-child(5) {
animation-delay: 28s;
}
.move:nth-child(6) {
animation-delay: 35s;
}
@keyframes flow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(2000px);
  }
}

.mebership_menu {
    font-size: 7pt;
    display: flex;
    justify-content: end;
    padding: 0 50px;
    height: 38px;
    color: rgb(83, 83, 83);
}
.mebership_menu li {
    list-style: none;
    float: left;
    padding: 0 7px;
    cursor: pointer;
}
.mebership_menu li:hover {
    color: rgba(0,0,0,0.1);
}
.mebership_menu li:not(:last-child) {
    border-right: 1px solid #787878;
}
.store_name {
    display: grid;
    grid-template-areas: 'hot_keyword logo search';
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 130px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d3d3d3;
}
.hot_keyword {
    grid-area: hot_keyword;
}
.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img {
    width: 189px;
    height: 100px;
    cursor: pointer;
}
.search {
    grid-area: search;
    padding:50px 0;
    display: flex;
    gap: 10px;
}
.search_window {
    width: 180px;
    
}
.search input {
    background-color: #ececec;
    border: none;
    width: 140px;
    height: 30px;
    margin: 0;
    padding: 0 0 0 10px;
    float: left;
    outline: none;
}
.search button {
    background-color: rgb(235, 226, 226);
    border: none;
    width: 40px;
    height: 30px;
    margin: 0;
    padding: 0;
    float: right;
    background-color: #60469f;
    outline: none;
    color: white;
    font-size: 8pt;
    cursor: pointer;
}
.shoppingbag {
    position: relative;
    display: inline-block;
}
.shoppingbag span {
    font-size: 25pt;
}
.shoppingbag div {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(245, 245, 245);
    width: 15px;
    height: 15px;
    font-size: 7pt;
    line-height: 16px;
    text-align: center;
    border-radius: 25px;
    
}
.category {
    padding: 15px 4px 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    gap: 30px;
    font-weight: 700;
    color: rgb(83, 83, 83);
}
.category > div {
    cursor: pointer;
}
.category > div:hover {
    cursor: pointer;
    color: rgb(197, 176, 176);
}
.category_1 {
    position: relative;
    line-height: 18px;
}
.category_1 > div {
    position: absolute;
    width: 110px;
    top: 18px;
    color: rgb(83, 83, 83);
    display: none;
    z-index: 2;
}
.category_1:hover > div{
    display: block;
}
.category_1 > div > div {
    background-color:#d5c3ff;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.category_1 > div > div:hover {
    background-color:#60469f;
    color:#e8dffd;
}

.goods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_image_scroll > img {
    width: 100%;
    cursor: pointer;
}
.sub_image_1_scroll {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5%;
    padding: 100px 0;
    
}
.sub_image_1_scroll img {
    width: 100%;
    cursor: pointer;
}
.sub_image_2_scroll {
    width: 100%;
}
.today_text {
   text-align: center;
   padding: 10px;
   font-size: 13pt;
   font-weight: 700;
   color: rgb(83, 83, 83);
}
.today_order {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 290px;
    cursor: pointer;
    overflow: hidden;
}
.today {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}
.today_1 span {
    display: inline-block;
    border: 1px solid #e0e0e0;
    width: 20px;
    height: 8px;
}
.sub_image_2_scroll img {
    width: 290px;
    height: 340px;
}
.today_2 {
    font-size: 10pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.today_2 a {
    text-decoration: none;
    color: black;
}
.today_3 {
    padding: 5px 0;
    font-size: 9pt;
}
.md_pick {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #e9dbeb;
    padding: 50px 0;
    margin-bottom: 70px;
}

.pick_1 {
    font-size: 20pt;
    font-weight: 700;
    font-family: 'HSBombaram 2.1';
}
.pick_2 {
    font-size: 12pt;
    font-weight: 600;
    margin: 10pt 0;
    color: rgb(83, 83, 83);
}
.pick_3_menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0 30px 0;
}
.pick_3_menu > div {
    height: 40px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 700;
    color: #636363;
    cursor: pointer;
}
.pick_3_img {
    display: grid;
    grid-template-columns: 414px 414px 414px;
    grid-template-rows: 600px 600px;
    font-size: 9pt;
    position: relative;
    gap: 15px;
    justify-content: center;
}
.pick_3_img > div {
    position: relative;
}

.pick_3_blackbox {
    background-color: rgba(0,0,0, 0.3);
    z-index: 2;
    position: absolute;
    display: none;
    bottom: 0;
    height: 70px;
    width: 100%;
    z-index: 2;
    text-align: left;
    color: white;   
}
.pick_3_blackbox > div {
    padding: 10px 0 0 10px;
}

.pick_3_img_img:hover .pick_3_blackbox {
    display: block;
}

.pick_3_img_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-size: cover;
    cursor: pointer;
}

.pick_3_img_good {
    font-weight: bold;
}

.best_items {
    width: 100%;
}
.best_1 {
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
    padding: 30px 0;
    font-family: 'HSBombaram 2.1';
}
.best_2 {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 600px 600px;
    gap: 20px;
    justify-content: center;
}
.best_2 > div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 2px;
}
.best_2  span {
    display: inline-block;
    border: 1px solid #e0e0e0;
    width: 20px;
    height: 8px;
}
.best_2 img {
    height: 460px;
    width: 100%;
    text-align: center;
    object-fit: cover;
}
.best_2_good {
    font-size: 10pt;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.best_2_price {
    font-size: 11pt;
    font-weight: 700;
    color: rgb(70, 0, 128);
}
.best_2_price del {
    font-size: 9pt;
    color: black;
}
.best_2_delivery {
    font-size: 11pt;
    font-weight: 700;
}
.best_2_description {
    font-size: 9pt;
    color: rgb(87, 87, 87);
}
.new {
    width: 100%;
    margin: 70px;
}
.new_1 {
    font-size: 15pt;
    font-weight: 700;
    text-align: center;
    font-family: 'HSBombaram 2.1';
}

.new_2 {
    padding: 10px 0 20px 0;
    text-align: center;
    font-size: 10pt;
    color: rgb(83, 83, 83);
}
.new_3 {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 600px 600px;
    gap: 20px;
    justify-content: center;
}
.new_3 > div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.new_3 span {
    display: inline-block;
    border: 1px solid #e0e0e0;
    width: 20px;
    height: 8px;
} 
.new_3 img {
    width: 100%;
    height: 460px;
    object-fit: cover;
}
.new_3_good {
    font-size: 10pt;
    font-weight: 700;
}
.new_3_price {
    font-size: 11pt;
    font-weight: 700;
    color: rgb(70, 0, 128);
}
.new_3_price del {
    font-size: 9pt;
    color: black;
}
.new_3_free {
    font-size: 9.5pt;
    color: rgb(70, 0, 128);
    font-weight: 700;
}
.new_3_description {
    font-size: 9pt;
    color: rgb(87, 87, 87);
}
footer {
    width: 100%;
    background-color: #e9dbeb;
    display: flex;
    justify-content: space-between;
    font-size: 8pt;
    color: rgb(87, 87, 87);
}
.footer_left {
    display: flex;
    gap: 60px;
    padding: 50px 0 0 100px;
}
.footer_left > div > div {
    padding: 8px;
}
.footer_left_title {
    font-weight: 700;
    font-size: 10pt;
    padding: 30px 0;
}
.bank img {
    width: 60px;
    height: 88px;
    margin: 25px 0 0 0;
}
.footer_right {
    text-align: end;
    line-height: 17pt;
    padding: 50px 150px 50px 0;
}
.company_info  li {
    list-style: none;
    display: inline-block;
    padding: 0 7px;
}
.company_info  li:not(:last-child) {
    border-right: 1px solid rgb(107, 107, 107);
    line-height: 10pt;
}
.company_tel {
    display: flex;
    justify-content: space-between;
}
.company_registration {
    display: flex;
    justify-content:  space-between;
}
.hosting {
    padding: 10px 0;
    font-size: 9pt;
    font-weight: 700;
}
.exchange {
    background-color: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    margin: 20px 0 50px 0;
    float: right;
    font-size: 9pt;
    font-weight: 700;
}
.top_button {
    position: fixed;
    right: 40px;
    bottom: 80px;
    width: 40px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #d3d3d3;
    z-index: 999;
    border-radius: 20px;
    text-align: center;
}
.top_button > div:hover {
    background-color: #f8ffde;
    cursor: pointer;
}
.top_button > div:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
}
#top_button_1 {
    border-radius: 20px 20px 0 0;
    line-height: 60px;
    height: 50px;
}
#top_button_5 {
    border-radius: 0 0 20px 20px;
    line-height: 60px;
    height: 47px;
}
#top_button_2, #top_button_3, #top_button_4 {
    height: 40px;
    line-height: 55px;
}
.top_button img {
    width: 20px;
}

@media all and (max-width: 1550px) {
    .sub_image_2_scroll {
        width: 100%;
        padding: 20px;
    }
    .sub_image_2_scroll img {
        width: 100%;
        height: auto;
    }
    .pick_3_img {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 450px 450px;
        font-size: 9pt;
        position: relative;
        gap: 15px;
        justify-content: center;
    }
    .pick_3_img_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        background-size: cover;
        cursor: pointer;
    }
    .best_2 {
        display: grid;
        grid-template-columns: 240px 240px 240px 240px;
        grid-template-rows: 450px 450px;
        gap: 20px;
        justify-content: center;
    }
    .new_3 {
        display: grid;
        grid-template-columns: 240px 240px 240px 240px;
        grid-template-rows: 450px 450px;
        gap: 20px;
        justify-content: center;
    }
    
}

@media all and (max-width: 1000px) {
    .pick_3_img {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 300px 300px;
        font-size: 9pt;
        position: relative;
        gap: 15px;
        justify-content: center;
    }
    .pick_3_img_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-size: cover;
        cursor: pointer;
    }
    .pick_3_blackbox > div {
        padding: 5px 5px 0px 5px;
        font-size: 9pt;
    }
    .best_2 {
        display: grid;
        grid-template-columns: 280px 280px;
        grid-template-rows: 620px 620px 620px 620px;
        gap: 20px;
        justify-content: center;
    }
    .new_3 {
        display: grid;
        grid-template-columns: 280px 280px;
        grid-template-rows: 620px 620px;
        gap: 20px;
        justify-content: center;
    }
    
}
@media all and (max-width: 990px) {
    footer {
        width: 100%;
        background-color: #e9dbeb;
        display: flex;
        flex-direction: column;
        font-size: 8pt;
        color: rgb(87, 87, 87);
    }
    .footer_right {
        margin: 0 auto;
        float: right;
        width: 500px;
        text-align: end;
        line-height: 17pt;
        padding: 0;
    }
    .company_tel {
        display: flex;
        justify-content: space-between;
    }
    .footer_left {
        display: flex;
        gap: 40px;
        padding: 50px 0 0 0 ;
        margin: 0 auto;
    }
}


@media all and (max-width: 660px) {
    .search{
        display: none;
    }
    .pick_3_img {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 150px 150px;
        font-size: 9pt;
        position: relative;
        gap: 15px;
        justify-content: center;
    }
    .pick_3_img_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background-size: cover;
        cursor: pointer;
    }
    .pick_3_menu > div {
        height: 30px;
        background-color: white;
        width: 80px;
        border-radius: 25px;
        font-weight: 700;
        color: #636363;
        cursor: pointer;
        font-size: 9pt;
        padding: 0;
        line-height: 30px;
    }
    .pick_3_blackbox > div {
        padding: 5px 0 0px 5px;
        font-size: 7pt;
    }
    .best_2 {
        display: grid;
        grid-template-columns: 210px 210px;
        grid-template-rows: 550px 550px 550px 550px;
        gap: 20px;
        justify-content: center;
    }
    .best_2 img {
        height: 360px;
        width: 100%;
        text-align: center;
        object-fit: cover;
    }
    .new_3 {
        display: grid;
        grid-template-columns: 210px 210px;
        grid-template-rows: 550px 550px 550px 550px;
        gap: 20px;
        justify-content: center;
    }
    .new_3 img {
        width: 100%;
        height: 360px;
        object-fit: cover;
    }
    
    footer {
        width: 100%;
        background-color: #e9dbeb;
        display: flex;
        flex-direction: column;
        font-size: 7pt;
        color: rgb(87, 87, 87);
    }
    .footer_right {
        margin: 0 auto;
        float: right;
        width: 435px;
        text-align: end;
        line-height: 17pt;
        padding: 0;
    }
}
@media all and (max-width: 500px) {
    .footer_left {
        display: flex;
        gap: 40px;
        padding: 50px 0 0 0 ;
        margin: 0 auto;
        width: 340px;
    }
    .footer_left_title {
        font-weight: 700;
        font-size: 8pt;
        padding: 30px 0;
    }
    .footer_right {
        margin: 0 auto;
        float: right;
        width: 340px;
        text-align: end;
        line-height: 17pt;
        padding: 0;
        font-size: 5pt;
    }
    .best_2 {
        display: grid;
        grid-template-columns: 160px 160px;
        grid-template-rows: 500px 500px 500px 500px;
        gap: 10px;
        justify-content: center;
    }
    .best_2 img {
        height: 300px;
        width: 100%;
        text-align: center;
        object-fit: cover;
    }
    .new_3 {
        display: grid;
        grid-template-columns: 160px 160px;
        grid-template-rows: 500px 500px 500px 500px;
        gap: 10px;
        justify-content: center;
    }
    .new_3 img {
        width: 100%;
        height: 300px;
        text-align: center;
        object-fit: cover;
    }
}