body, html {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.alert {
    width: 100%;
    height: 40px;
    background-color: #60469f;
}
.mebership_menu {
    font-size: 8pt;
    display: flex;
    justify-content: end;
    padding: 0 50px;
    height: 38px;
}
.mebership_menu li {
    list-style: none;
    display: inline-block;
    padding: 0 7px;
    cursor: pointer;
}
.mebership_menu li:hover {
    color: rgba(0,0,0,0.1);
}
.mebership_menu li:not(:last-child) {
    border-right: 1px solid #787878;
}
.store_name {
    display: grid;
    grid-template-areas: 'hot_keyword logo search';
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 130px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d3d3d3;
}
.hot_keyword {
    grid-area: hot_keyword;
}
.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img {
    width: 189px;
    height: 100px;
    cursor: pointer;
}
.search {
    grid-area: search;
}
.category {
    padding: 15px 4px 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    gap: 30px;
    font-weight: 700;
    color: rgb(83, 83, 83);
}

.goods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category > div {
    cursor: pointer;
}
.category > div:hover {
    cursor: pointer;
    color: rgb(197, 176, 176);
}

.main_image_scroll > img {
    width: 100%;
}
.sub_image_1_scroll {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5%;
    padding: 100px 0;
}
.sub_image_1_scroll img {
    width: 100%;
}
.sub_image_2_scroll {
    height: 550px;
}
.today_text {
   text-align: center;
   padding: 10px;
}
.today_order {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.today {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 50px;
    
}
.today_1 span {
    display: inline-block;
    border: 1px solid #e0e0e0;
    width: 20px;
    height: 8px;
}
.sub_image_2_scroll img {
    height: 340px;
}
.today_2 {
    padding: 10px 0;
}
.today_3 {
    padding: 10px 0;
}
.md_pick {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #e9dbeb;
}
.md_pick > div {
    padding-bottom:30px;
}

.pick_3_menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
}
.pick_3_menu > div {
    height: 40px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 700;
    color: #636363;
}
.pick_3_img {
    display: grid;
    grid-template-areas:
    'back_1 c_1 c_2 c_3 front_1'
    'back_1 c_4 c_5 c_6 front_1';
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 420px 420px;
}
.pick_3_img img {
    width: 95%;
    height: 400px;
    object-fit: cover;
}
#c_1 {
    grid-area: c_1;
}
#c_2 {
    grid-area: c_2;
}
#c_3 {
    grid-area: c_3;
}
#c_4 {
    grid-area: c_4;
}
#c_5 {
    grid-area: c_5;
}
#c_6 {
    grid-area: c_6;
}
.best_items {
    width: 100%;
}
.best_1 {
    text-align: center;
}
.best_2 {
    display: grid;
    grid-template-areas: 
    'back_2 d_1 d_2 d_3 d_4 front_2' 
    'back_2 d_5 d_6 d_7 d_8 front_2';
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: 370px 370px;
}
.best_2 > div {
    display: flex;
    align-items: center;
}
.best_2 img {
    height: 335px;
    width: 95%;
}
#d_1 {
    grid-area: d_1;
}
#d_2 {
    grid-area: d_2;
}
#d_3 {
    grid-area: d_3;
}
#d_4 {
    grid-area: d_4;
}
#d_5 {
    grid-area: d_5;
}
#d_6 {
    grid-area: d_6;
}
#d_7 {
    grid-area: d_7;
}
#d_8 {
    grid-area: d_8;
}
