.clothes {
    display: flex;
    flex-direction: column;
}
.bear {
    display: flex;
    width:1800px;
    height: 30px;
    color: black;
    justify-content: end;
    line-height: 30px;
    margin: 0 auto;
    color: rgb(133, 133, 133);
    padding: 20px 0 70px 0;
}
.clothes_shot {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.clothes_shot img {
    width: 600px;
}
.clothes_explanation {
    display: flex;
    flex-direction: column;
    width: 700px; 
}
.clothes_explanation > div:first-child {
    font-weight: 700;
    padding-bottom: 5px;
}
.clothes_explanation > div:nth-child(2) {
    font-size: 9pt;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.price_box {
    display: flex;
    font-size: 9pt;
    padding-top: 20px;
}
.price_title {
    width: 150px;
    height: 50px;
}
.total {
    text-align: end;
}
.button_1 {
    width: 100%;
    height: 50px;
    border: 0;
    background-color: #d5c3ff;;
    font-size: 13pt;
    font-weight: 700;
    color: #5b5b5b;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
}
.button_set {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 10px;
}
.button_2 {
    width: 83%;
    height: 50px;
    border: 1px solid #707070;
    background-color: white;
    font-size: 13pt;
    font-weight: 700;
    color: #5b5b5b;
    border-radius: 10px;
    cursor: pointer;
}
.button_3 {
    width: 50px;
    height: 50px;
    border: 1px solid #707070;
    background-color: white;
    font-size: 13pt;
    font-weight: 700;
    color: #5b5b5b;
    border-radius: 10px;
    cursor: pointer;
}
.button_3 span {
    text-align: center;
    line-height: 50px;
}
.button_4 {
    width: 50px;
    height: 50px;
    border: 1px solid #707070;
    background-color: white;
    font-size: 13pt;
    font-weight: 700;
    color: #5b5b5b;
    border-radius: 10px;
    cursor: pointer;
}
.button_4 span {
    text-align: center;
    line-height: 50px;
}
.inventory {
    width: 100%;
    margin-bottom: 15px;
}
.inventory_check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}
.inventory_info {
    width: 100%;
    border: 1px solid #ddd;
    
}
.inventory_info > div:first-child {
    background-color: #f5f5f5;
    width: 90%;
    margin: 20px auto 0;
    font-size: 8pt;
    color: rgb(82, 82, 82);
    padding-left: 10px;
    border-radius: 5px;
    padding: 15px;
    
}
.inventory_info > div:nth-child(2) {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    font-size: 9pt;
    color: rgb(82, 82, 82);
}
.pay_card {
    text-align: center;
    padding-bottom: 5px;
}
.pay_card img {
    width: 77px;
}
.shopping_from_sns {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    font-size: 10pt;
    padding: 8px 0;
    margin-bottom: 10px;
}
.sns_left {
    display: flex;
    gap: 10px;
}
.sns_left > div:first-child {
    width: 70px;
}
.sns_left > div:nth-child(2) {
    width: 70px;
    background-color: #fee500;
    border: 1px solid #ddd;
}
.sns_left > div:nth-child(3) {
    width: 40px;
    background-color: #fee500;
    border: 1px solid #ddd;
}
.sns_left > div:nth-child(4) {
    width: 40px;
    border: 1px solid #ddd;
}
.sns_right {
    display: flex;
    gap: 10px;
    
}
.sns_right > div:nth-child(2) {
    width: 70px;
    background-color: #00de5a;
    border: 1px solid #ddd;
}
.sns_right > div:nth-child(3) {
    width: 40px;
    border: 1px solid #ddd;
}
.sns_right > div:nth-child(4) {
    width: 40px;
    border: 1px solid #ddd;
}
.pay_ad {
    width: 100%;
    display: flex;
    font-size: 8pt;
    justify-content: space-between;
    
}
.pay_ad_right {
    display: flex;
}
.arrow {
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    text-align: center;
}
.arrow span {
    font-size: 10pt;
    text-align: center;
    line-height: 30px;
}
.detail_menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 10pt;
    margin: 30px 0;
}
.detail_info {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}
.detail_info div:nth-child(3) {
    padding-bottom: 110px;
    text-align: center;
}
.detail_info div:nth-child(7) {
    text-align: center;
}
.delivery_wrap {
    margin: 0 auto;
    width: 80%;
    
}
.delivery_button {
    display: flex;
    margin: 0 auto 30px;
    text-align: center;
    color: #5b5b5b;
}
.delivery_button div:first-child {
    width: 33%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: #d5c3ff;
    border-radius: 10px 0 0 10px ;
    cursor: pointer;
}
.delivery_button div:nth-child(2) {
    width: 33%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: #ececec;
    cursor: pointer;
}
.delivery_button div:nth-child(3) {
    width: 33%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: #ececec;
    border-radius: 0 10px 10px 0 ;
    cursor: pointer;
}
.delivery_way p{
    padding-left: 50px;
}
.delivery_way_1 {
    font-size: 9pt;
    color: #5b5b5b;
}
.delivery_way_2 {
    font-size: 9pt;
    color: #000000;
}
.delivery_way p:nth-child(6) {
    margin-top: 35px;
}
.review {
    display: flex;

}
.star_point {
    position: relative;
}
.star_point div {
    color: red;
    position: absolute;
    top: 50%;
    left: 2%; 
}
.star_graph_1 {
    display: flex;
    margin: 15px 0;
}
.outline_bar {
    width: 120px;
    height: 5px;
    background-color: #e6e6e6;
}
.inline_bar {
    height: 5px;
    background-color: #ff8b8b;
}
.review {
    width: 80%;
    background-color: red;
    margin: 0 auto;
}
.photo_review_1 {
    display: flex;
    justify-content: space-between;
}
@media all and (max-width: 1800px) {
    .bear {
        width: 97%;
        font-size: 10pt;
    }
    .pay_card img {
        width: 77px;
    }
}

@media all and (max-width: 1500px) {
    .clothes_shot {
        gap: 70px;
    }
    .clothes_shot img {
        width: 500px;
    }
    .pay_card img {
        width: 77px;
    }
}

@media all and (max-width: 1300px) {
    .clothes_shot {
        gap: 40px;
    }
    .clothes_shot img {
        width: 400px;
    }
    .clothes_explanation {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .button_1 {
        width: 100%;
        
    }
    .button_set {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }
    .button_2 {
        width: 75%;
    }
    .button_3 {
        width: 50px;
    }
    .button_4 {
        width: 50px; 
    }
    .price_box {
        display: flex;
        font-size: 9pt;
        height: 50px;
    }
    .pay_card img {
        width: 77px;
    }
}
